<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <clear />
    <add key="WaitTimeOut" value="30" />
    <add key="BrowserType" value="Chrome" />
    <add key="MailingList" value="" />
    <add key="EmailSender" value="automation@maxxor.com" />
    <add key="EmailHost" value="relay01.maxxor.com" />
    <add key="EmailSubject" value="Automation Test Report" />
    <add key="EmailUserName" value="t" />
    <add key="EmailPassword" value="password" />
    <add key="ExcelInputFile" value="..\..\TestPacks\Keyword Input.xlsx" />
    <add key="ReportFileDirectory" value="..\\..\\KeywordDrivenTestReports\\" />
    <add key="OnsightPageUrl" value="http://dev.onsightapp.com/index.html" />
    <add key="FIAUrl" value="http://testsite25.hostedapp.co.za/" />

  </appSettings>
</configuration>