<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear />
    <add key="WaitTimeOut" value="120" />
    <add key="BrowserType" value="Chrome" />
    <add key="MailingList" value="scott@maxxor.com;izanne@maxxor.com;gavin@maxxor.com;Ntando@maxxor.com;Matthew@maxxor.com;Liezl@maxxor.com;" />
    <add key="EmailSender" value="automation@maxxor.com" />
    <add key="EmailHost" value="relay01.maxxor.com" />
    <add key="EmailSubject" value="Automation Test Report" />
    <add key="EmailUserName" value="cmkhontwana" />
    <add key="EmailPassword" value="password" />
    <add key="ExcelInputFile" value="..\..\TestPacks\Keyword Input.xlsx" />
    <add key="ReportFileDirectory" value="..\\..\\KeywordDrivenTestReports\\" />
    <add key="OnsightPageUrl" value="http://dev.onsightapp.com/index.html"/>
    <add key="ProbonoPageUrl" value="http://testsite14.hostedapp.co.za/"/>
    <add key="FIAUrl" value="http://testsite25.hostedapp.co.za/"/>
  </appSettings>
</configuration>